body,
html {
    font-family:'Courier New', Courier, monospace;
    background-color: #0E0B16;
    text-align: center;
}

h1,
h2,
p {
    color: #e7dfdd;
}

h1,
h2 {
    text-decoration: underline;
}

ul {
    list-style: none;
}

ol,
ul {
    color:#e7dfdd;
    list-style-position: inside;
    margin:0%;
    padding: 0%;
}

a {
    color: #a239ca;
}
img {
    height: 300px;
    width: auto;
    border: #e7dfdd;
    border-radius: 10px;
    border-style: groove;
}