body {
    margin-left:20%;
    margin-right:20%;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #0E0B16;
}

h1,
h2,
p {
    color: #e7dfdd;
    text-align: center;
}

h1,
h2 {
    text-decoration: underline;
}

ul {
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: #e7dfdd;
    list-style: none;
}

ol {
    color:#e7dfdd;
    text-align: center;
    list-style-position: inside;
}

a {
    color: #a239ca;
}
div#image {
    text-align: center;
}

img {
    height: 300px;
    width: auto;
    border: #e7dfdd;
    border-radius: 10px;
    border-style: groove;
}